<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="content">
    <h1>Hello,Bootstrap!!</h1>
    <p>これはRuby on RailsでBootstrapを練習するために記述しています</p>
  </div>
</body>

</html>